# volregrid config file example
# Wed Dec 11 16:50:43 EST 2002
#
# This is a comment - blah blah
#--------------------------------------------------------------------

#DIMENSIONS:      2     # Dimensionality of input data (Default: 3D)
#SLICES:         23     # Number of Slices             (Default: Guess)
#SLICES_STEP:   1.0     # slice step                   (Default: 1)
#SLICES_START: -5.0     # slice start                  (Default: 1)
#SLICES_DIM:      Z     # Slicing Dimension (X|Y|Z)    (Default: Z)

#--------------------------------------------------------------------
# Coordinates are now specified as follows:
#  * simple (absolute) co-ordinates are expressed as an x,y,z tuple
#  * Co-ordinates prefixed with @ and surrounded by []'s are relative
#  * Relative co-ordinates may have an optional number of repeats
#
# for example:
#    1,1,1       
#    @[1,0,0]    
#    @[0,1,0]*2
#
# expands internally to:
#    1,1,1
#    2,1,1
#    2,2,1
#    2,3,1
#    
# Affine Matrix operations can be specified to modify the main co-ordinate
# reference point.
#
# First define a few lists, then a few co-ordinates
#--------------------------------------------------

LIST FOOBLE {
   0,0,0
   @[-1,27,45]
   0,23,46
   @[1,0.1,0.01]*10
  }

LIST BOOBLE {
   0,0,0
   1,1,1
   2,2,2
  }

#M = [1 0 0 0 
#     0 1 0 0
#     0 0 1 0]

0,0,0
1,1,1
@[1,1,1]
M = [2 0 0 0 
     0 2 0 0
     0 0 2 0]
0,0,0
1,1,1
@[1,1,1] 

M = [1 0 0 0 
     0 1 0 0
     0 0 1 0]

CALL FOOBLE
CALL BOOBLE

0,0,0
@[1,0,0]*10

M = [0 1 0 0 
     1 0 0 0
     0 0 1 0]
0,0,0
@[1,0,0]*10

M = [0 0 1 0 
     0 1 0 0
     1 0 0 0]
0,0,0
@[1,0,0]*10

0,0,0
@[0,0,0]*50


0,0,0
@[1,0,0]*10

